*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* Styling for the Home Page */

header{
    height: 5em;
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    height: 2.5em;
    padding-left: 6em;
}

nav ul{
    display: flex;
    padding-right: 6em;
}
ul li{
    list-style-type: none;
    padding: 1em;
    
}
ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
main{
    height: 100vh;
    width: 100%;
    background-color: #445963;
}